---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contatti">
  <div class="lg:grid lg:grid-cols-3">
    <div class="w-full">
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fclaudio.lai.9%2Fposts%2Fpfbid0PZ72aAZE3MREnAEgkiVXuY6UdrpAjsFo9HYmTEptHZVRtRLUsNBDcCaYogSWkCtbl&show_text=true&width=500"
        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
        class="h-[250px] w-11/12 m-auto"></iframe>
    </div>
    <div class="w-full">
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fmorena.cuguttu%2Fposts%2Fpfbid032KkxWe7youdd3e3t1uwa969QKufcBcBf59gy6u1XcowwL4hPjy2vBUPLh5iwzzc8l&show_text=true&width=500"
        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
        class="h-[250px] w-11/12 m-auto"></iframe>
    </div>
    <div class="w-full">
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Flor.caria%2Fposts%2Fpfbid0xQVaN7R9JccDc3BJ8x9FE3VsktunAaTA7k7JfL82s7G9a16RbxJ8tYoZ68kNqKG1l&show_text=true&width=500"
        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
        class="h-[250px] w-11/12 m-auto"></iframe>
    </div>
    <div class="w-full h-[800px]">
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fcomfortrinnovabile%2Fposts%2Fpfbid0dEdFTz6mQvJJgmgA8R3ygsC4eZN5WSLiQnuyXs3SzRkogdYdqYRB5cuaR69D7rzml&show_text=true&width=500"
        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
        class="h-[800px] w-11/12 m-auto"></iframe>
    </div>
    <div class="w-full h-[800px] mt-10">
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fcomfortrinnovabile%2Fposts%2Fpfbid02KBWzEMANw96Wr5a19aBKg6ixFHAFQtACekREscZUtL57Yhm9tMbhr6WawUe84AnCl&show_text=true&width=500"
        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
        class="h-[800px] w-11/12 m-auto"></iframe>
    </div><div class="w-full h-[800px] mt-10">
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fcomfortrinnovabile%2Fposts%2Fpfbid02X4k37PJ3sjwVt4xZVpJXviKEbNJaDoBhcGPyaKmcmJyiCqQ3D9H54BFotUd4T9qWl&show_text=true&width=500"
        class="h-[800px] w-11/12 m-auto"></iframe>
    </div>
    <div class="w-full h-[700px] mt-10">
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fcomfortrinnovabile%2Fposts%2Fpfbid02soLyyaeiJQy24XtnaqHDqEn6t5dxjXzGwSBJVHz7vpvMeVZXh36mBkt6E512NnYrl&show_text=true&width=500"
        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
        class="h-[700px] w-11/12 m-auto"></iframe>
    </div>
    <div class="w-full h-[700px]">
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fcomfortrinnovabile%2Fposts%2Fpfbid0SJyEizd3uqehRxAxtD8KbBfs5jnXt9LiUPcosfftye7GDYAKPpDrP8122HVgTP4El&show_text=true&width=500"
        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
        class="h-[700px] w-11/12 m-auto"></iframe>
    </div><div class="w-full h-[700px]">
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fcomfortrinnovabile%2Fposts%2Fpfbid02KZLiDJKmq31DsjhL2nbnwNU3CpEG1CkcRUKvGLKaeu2HCNsUxeeaujpkmFV4P5Jfl&show_text=true&width=500"
        class="h-[700px] w-11/12 m-auto"></iframe>
    </div>
    <div class="w-full h-[700px]">
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fcomfortrinnovabile%2Fposts%2Fpfbid02H4xzT5V23PaX4RUtbX3sDXvE4jjZ4Pi97V5nW714aJhK31fbCC65bc3qXxj2EHSvl&show_text=true&width=500"
        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
        class="h-[700px] w-11/12 m-auto"></iframe>
    </div>
    <div class="w-full h-[700px]">
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fcomfortrinnovabile%2Fposts%2Fpfbid0321HSYWhqeuCS1eHZiUZu2Mi6ybyC27CRiEtoAmmYDpECpEHBuYSN9HQnXa6uEmY9l&show_text=true&width=500"
        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
        class="h-[700px] w-11/12 m-auto"></iframe>
    </div><div class="w-full h-[700px]">
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fcomfortrinnovabile%2Fposts%2Fpfbid0ipXP9z8yrYEqohD1e7zbM1i7nk2Jp2b5NFqNf4YKEZGQaNgAtaSPWU7CiEF8Q9n5l&show_text=true&width=500"
        class="h-[700px] w-11/12 m-auto"></iframe>
    </div>
  </div>
</Layout>
