---
import hero from "../../public/hero.mp4";
import { Image } from "astro:assets";
---

<div class="py-20 md:py-28">
  <div class="container px-4">
    <div class="flex flex-wrap xl:items-center">
      <div class="w-full md:w-1/2 mb-16 md:mb-0">
        <h1
          class="text-[#16A349] mb-6 text-3xl md:text-5xl lg:text-6xl leading-tight font-bold tracking-tight animate-pulse text-center lg:text-left"
        >
          ERS SRL <br /> RISPARMIO ENERGETICO
        </h1>
        <p class="mb-8 text-lg md:text-xl text-coolGray-500 font-medium">
          SCEGLIERE L'ENERGIA SOLARE È IL PRIMO PASSO PER COSTRUIRE UN AMBIENTE
          SOSTENIBILE <div class="w-5 h-5"></div>
        </p>
        <div class="flex flex-wrap">
          <div class="w-full md:w-auto py-1 md:py-0 md:mr-4">
            <a
              class="inline-block py-5 px-7 w-full text-base md:text-lg leading-4 text-green-50 font-medium text-center bg-[#16A349] hover:bg-green-600 focus:ring-2 focus:ring-green-500 focus:ring-opacity-50 border border-green-500 rounded-md shadow-sm"
              href="/Contatti">Contattaci</a
            >
          </div>
          <div class="w-full md:w-auto py-1 md:py-0">
            <a
              class="inline-block py-5 px-7 w-full text-base md:text-lg leading-4 text-coolGray-800 font-medium text-center bg-white hover:bg-coolGray-100 focus:ring-2 focus:ring-coolGray-200 focus:ring-opacity-50 border border-coolGray-200 rounded-md shadow-sm"
              href="/Prodotti">Scopri di più</a
            >
          </div>
        </div>
      </div>
      <div class="w-full md:w-1/2 px-4">
        <div class="relative mx-auto md:mr-0 max-w-max">
          <img
            class="absolute z-10 -left-14 -top-12 w-28 md:w-auto"
            src="https://shuffle.dev/flex-ui-assets/elements/circle3-yellow.svg"
            alt=""
          />
          <img
            class="absolute z-10 -right-7 -bottom-8 w-28 md:w-auto"
            src="https://shuffle.dev/flex-ui-assets/elements/dots3-blue.svg"
            alt=""
          />

          <div class="">
            <video width="400" height="100" autoplay loop muted>
              <source src={hero} type="video/mp4" />

              Your browser does not support HTML video.
            </video>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
