<aside
  id="default-sidebar"
  class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0 lg:hidden"
  aria-label="Sidebar"
>
  <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
    <ul class="space-y-2 font-medium">
      <li>
        <a
          href="/Storia"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
        >
          <span class="ms-3">Storia</span>
        </a>
      </li>
      <li>
        <a
          href="/Prodotti"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
        >
          <span class="ms-3">Prodotti</span>
        </a>
      </li>
      <li>
        <a
          href="/Clienti"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
        >
          <span class="ms-3">Clienti</span>
        </a>
      </li>
      <li>
        <a
          href="/Lavori"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
        >
          <span class="ms-3">Lavori</span>
        </a>
      </li>
      <li>
        <a
          href="/Recensioni"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
        >
          <span class="ms-3">Recensioni</span>
        </a>
      </li>
      <li>
        <a
          href="/Contatti"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
        >
          <span class="ms-3">Contatti</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
